# Simple exercises for Basic Data Types in Python

## Numbers

#### 1. asign any number of type integer to the variable "num_1"

In [5]:
num_1 = 7

#### 2. asign any number of type float to the variable "num_2"

In [3]:
num_2 = 2.5

#### 3. create variable "total" which is the sum of variables "num_1" and "num_2"

In [4]:
total = num_1 + num_2

#### 4. check the type of variable "total"

In [6]:
type(total)

float

#### 5. assign variable "height" with your height

In [7]:
height = 1.778

#### 6. asign variable "mass" with your weight

In [9]:
mass = 74.84

#### 7. create variable "bmi" :
hint: bmi = weight / (height*height)

In [10]:
bmi = mass / (height * height)

#### 8. print value from "bmi" variable

In [11]:
print(bmi)

0.0023673924898870206

# String

#### 1. Create variable "name" with your first name

In [13]:
name = 'Elliot'

#### 2. Create variable "surname" with your surname

In [14]:
surname = 'Lupini'

#### 3. create variable "name_surname" from variables "name" and "surname" 
hint : use string with white space between variable "name" and "surname"

In [15]:
name_surname = name + ' ' + surname

#### 4. print variable "name_surname"

In [16]:
print(name_surname)

Elliot Lupini

#### 5. print first letter from variable "name_surname"

In [17]:
print(name_surname[0])

E

#### 6. print your name (without enmpty space) from variable "name_surname"

In [20]:
print(name_surname.replace(" ",""))

ElliotLupini

#### 7. print your surname 10x (use variable surname)

In [21]:
print(surname * 10)

LupiniLupiniLupiniLupiniLupiniLupiniLupiniLupiniLupiniLupini

#### 8. create variable greeting with message "Hello my name is " and your name and surname (use "name_surname" variable)

In [22]:
greeting = "Hello my name is {}".format(name_surname)

#### 9. print "message" variable

In [23]:
print(greeting)

Hello my name is Elliot Lupini

## List

#### 1. create empty list with name "empty_list"

In [24]:
empty_list = []

#### 2. create list "heights" with five random values

In [25]:
heights = [1.55, 1.89, 1.62, 1.41, 2.12]

#### 3. print heights

In [26]:
print(heights)

[1.55, 1.89, 1.62, 1.41, 2.12]

#### 4. print type of variable "heights"

In [27]:
type(heights)

list

#### 5. print second value from "heights"

In [28]:
print(heights[1])

1.89

#### 6. assign last three values from "heights" to another list "heights_2"

In [29]:
heights_2 = heights[2:]

#### 7. print "heights_2"

In [30]:
print(heights_2)

[1.62, 1.41, 2.12]

#### 8. create variable "list_all" with values from lists "heights" and "heights_2" together

In [31]:
list_all = heights + heights_2

#### 9. print "list_all"

In [32]:
print(list_all)

[1.55, 1.89, 1.62, 1.41, 2.12, 1.62, 1.41, 2.12]

#### 10. print the type of "list_all"

In [33]:
type(list_all)

list

## Tuple

#### 1. create empty tuple with name empty_tuple

In [34]:
empty_tuple = ()

#### 2. try to asign your name on the first position to the variable "empty_tuple" and check the type of the error

In [36]:
empty_tuple[0] = name_surname

TypeError: 'tuple' object does not support item assignment

#### 3. According to question number 2, what is the main difference between list and tuple?

In [ ]:
#Lists are hashable whereas tuples are non-hashable. The readings so far have used mutable vs immutable, but indicated this was not entirely true, as we will learn later on

## Dictionary

#### 1. create empty dictionary with name "empty_dict"

In [37]:
empty_dict = {}

#### 2. create "heights_dict" dictionary with your name as a key and height as a value

In [38]:
heights_dict = {'Elliot':1.778}

#### 3. asign another name and height to "heights_dict"

In [39]:
heights_dict['Harold'] = 1.992

#### 4. print "heights_dict" dictionary

In [40]:
print(heights_dict)

{'Elliot': 1.778, 'Harold': 1.992}

#### 5. print your height from the "heights_dict" dictionary

In [41]:
print(heights_dict['Elliot'])

1.778

#### 6. print all values from "heights_dict" dictionary

In [42]:
print(heights_dict.values())

dict_values([1.778, 1.992])

#### 7. print all keys from "heights_dict" dictionary

In [43]:
print(heights_dict.keys())

dict_keys(['Elliot', 'Harold'])